
html {
    background: linear-gradient(-45deg, #28313B, #343c46, #000000 );
    background-size: 400% 400%;
    animation: gradient 45s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
header{
    background-color: rgba(40, 49, 59, 0.41);
}
#top-row{
    max-height: 50px;
    margin: -20px 10% auto;
    position: relative;
}
header nav{
    float: left;
}
header nav.nav-left a h1{
    font-family: Candara , serif;
    font-size: 25px;
    color: #d7cfda;
    text-shadow: 0 0 10px #5500ff;
}
header nav.nav-left a{
    text-decoration: none;
    padding-left: 10px;
    padding-top: 5px;
    float: left;
}
header nav.nav-left img[src^="images/logo.png"]{
    max-height: 60px;
    padding-top: 10px;
    float: left;
}
header nav.nav-right{
    font-family: Candara , serif;
    color: #d7cfda;
    padding-top: 15px;
    float: right;
}
header nav.nav-right ul{
    list-style: none;
    float: right;
}
header nav.nav-right ul li{
    display: inline-block;
}
header nav.nav-right ul li:not(:last-child){
    border-right-width: 10px;
    border-right-color: rgba(255, 255, 247, 0);
    border-right-style: dotted;
}
